@import "../../../styles/vars.scss";
.default {
  width: 100vw;
  height: 100vh;
  .container {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    @include sp{
      margin: 0 auto;
    }
    .title {
      font-size: xx-large;
      color: #fff;
      white-space: nowrap;
      margin-bottom: 10vh;
      @include sp{
        margin-bottom: 80px;
      }
    }

    .portButton {
      background: none;
      border: none;
      color: #fff;
      font-size: x-large;
      font-family: 'Josefin Sans';
      font-weight: 300;
      margin: 10px;
      transition: ease 0.2s;
    }
    .portButton:hover {
      text-shadow: 0 0 10px #fff, 0 0 15px #fff;
      transition: ease 0.2s;
    }
    .blogButton {
      background: none;
      border: none;
      color: #fff;
      font-size: x-large;
      font-family: 'Josefin Sans';
      font-weight: 300;
      margin: 10px;
      transition: ease 0.2s;
    }
    .blogButton:hover {
      text-shadow: 0 0 10px #fff, 0 0 15px #fff;
      transition: ease 0.2s;
    }
  }
  .back {
    position: relative;
    width: 100%;
    height: 100vh;
  }
}