.default {
  display: inline-block;
  background: #6d6d6d;
  border-radius: 3px;
  margin: 0;
  text-align: center;
  p {
    font-size: small;
    color: #fff;
    margin: 5px;
    font-family: 'Meirio';
    font-weight: 100;
  }
}
