@import '../../../styles/vars.scss';
.default {
  width: 100vw;
  height: 70vh;
  @include sp {
    height: 50vh;
  }
  .background {
    width: 100vw;
    height: 70vh;
    @include sp {
      height: 50vh;
    }
    -webkit-mask-image: -webkit-linear-gradient(
      -90deg,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 1) 0%,
      transparent
    );
  }
}
