@media screen and (max-width: 600px) {
  .default {
    display: flex;

    justify-content: center;
    .container {
      text-align: center;
      .title {
        font-family: 'Hiragino Kaku Gothic ProN';
        font-size: x-large;
        font-weight: 400;
        margin: 80px 0 40px 0;
        color: #525252;
      }
      .description {
        display: inline-block;
        font-family: 'Hiragino Kaku Gothic ProN';
        font-size: small;
        font-weight: 100;
        color: #525252;
      }
    }
  }
}

@media screen and (min-width: 601px) {
  .default {
    .container {
      height: 100%;
      text-align: center;
      .title {
        font-family: 'Hiragino Kaku Gothic ProN';
        font-size: xx-large;
        font-weight: 400;
        margin: 130px 0 80px 0;
        color: #525252;
      }
      .description {
        font-family: 'Hiragino Kaku Gothic ProN';
        font-size: medium;
        font-weight: 100;
        color: #525252;
      }
    }
  }
}
