@import "../../../styles/vars.scss";

.default {
  @include sp{
    display: flex;
    justify-content: center;
  }
  .container {
    height: 100%;
    text-align: center;
    .title {
      font-size: xx-large;
      font-weight: 400;
      margin: 130px 0 80px 0;
      color: #525252;
    }
    .description {
      font-family: 'Hiragino Kaku Gothic ProN';
      font-size: medium;
      font-weight: 100;
      color: #525252;
      @include sp{
        font-size: 13px;
      }
    }
  }
}