@import "../../styles/vars.scss";
.default {
  width: 100vw;
  .appbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .top {
    position: relative;
  }
  .titleContainer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    .title {
      font-size: xx-large;
      margin-top: 5%;
      margin-bottom: 5%;
      color: $text-color;
      @include sp{
        margin-top: 10%;
      }
    }
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95vw;
    margin: 0 auto;
  }
}
