@media screen and (max-width: 600px) {
  .default {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    .container {
      text-align: center;
      .title {
        font-family: 'Hiragino Kaku Gothic ProN';
        font-size: large;
        font-weight: 400;
        margin: 80px;
        color: #525252;
      }
      .description {
        font-family: 'Hiragino Kaku Gothic ProN';
        font-size: x-small;
        font-weight: 100;
        color: #525252;
      }
    }
  }
}

@media screen and (min-width: 601px) {
  .default {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    .container {
      text-align: center;
      .title {
        font-family: 'Hiragino Kaku Gothic ProN';
        font-size: x-large;
        font-weight: 400;
        margin: 80px;
        color: #525252;
      }
      .description {
        font-family: 'Hiragino Kaku Gothic ProN';
        font-size: small;
        font-weight: 100;
        color: #525252;
      }
    }
  }
}
