@import '../../../styles/vars.scss';
.default {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 15px 0;
  .button {
    background: none;
    border: none;
    .logo {
      width: 250px;
      margin-left: 1vw;
    }
  }
}
