@import "../../styles/vars.scss";
.default {
  width: 100vw;
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    @include sp{
      width: 90%;
      margin: 0 auto;
    }
    .textContainer {
      color: $text-color;
      h4 {
        font-size: x-large;
      }
      h5 {
        font-size: large;
        margin: 40px 0 18px 10px;
      }
      p {
        margin: 5px 0 5px 20px;
      }
    }
  }
}