@import "../../styles/vars.scss";
.default {
  width: 100vw;
  color: $text-color;
  .appbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .top {
    position: relative;
  }
  .titleContainer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    .title {
      font-size: xx-large;
    }
  }
  .itemsContainer {
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    .item {
      display: inline-block;
      height: auto;
      margin: 5%;
      cursor: pointer;
      @include pc{
        width: 350px;
      }
      .imgContainer {
        width: 100%;
        max-height: 80%;
        img {
          width: 100%;
        }
      }
    }
  }
}