@import "../../styles/vars.scss";
.default {
  width: 100vw;
  color: $text-color;
  .container {
    width: 95%;
    margin: 0 auto;
    .contents {
      width: 80%;
      margin: 0 auto;
      @include sp{
        .title {
          font-size: large;
        }
      }
      .imgContainer {
        width: 100%;
        margin: 50px 0 50px 0;
        display: flex;
        .thumbnail {
          width: 60%;
          margin: 0 auto;
          @include sp{
            width: 100%;
          }
        }
      }
      .date {
        color: #a1a1a1;
      }
      .main {
        font-size: large;
        color: #575757;
        @include sp{
          font-size: medium;
        }
      }
    }
  }
}