@media screen and (max-width: 600px) {
  .default {
    width: 100vw;
    color: #525252;
    .container {
      width: 95%;
      margin: 0 auto;
      .contents {
        width: 95%;
        margin: 0 auto;
        // text-align: center;
        .title {
          font-size: large;
        }
        .imgContainer {
          width: 100%;
          margin: 50px 0 50px 0;
          display: flex;
          .thumbnail {
            width: 100%;
            margin: 0 auto;
          }
        }
        .date {
          color: #a1a1a1;
        }
        .main {
          font-size: medium;
          color: #575757;
        }
      }
    }
  }
}
@media screen and (min-width: 601px) {
  .default {
    width: 100vw;
    color: #525252;
    .container {
      width: 95%;
      margin: 0 auto;
      .contents {
        width: 80%;
        margin: 0 auto;
        // text-align: center;
        .title {
        }
        .imgContainer {
          width: 100%;
          margin: 50px 0 50px 0;
          display: flex;
          .thumbnail {
            width: 60%;
            margin: 0 auto;
          }
        }
        .date {
          color: #a1a1a1;
        }
        .main {
          font-size: large;
          color: #575757;
        }
      }
    }
  }
}
