html,
body {
  margin: 0;
  font-family: Josefin Sans, Hiragino Kaku Gothic ProN, Roboto, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
  opacity: 1;
  transition: 0.2s;
}

* {
  box-sizing: border-box;
}
button :hover {
  cursor: pointer;
}
a :hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}
p {
  font-family: 'Josefin Sans', 'Hiragino Kaku Gothic ProN';
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}
