$text-color: #525252;
$icon-color: #707070;
$tooltips-color: #6d6d6d;
// media query
$breakpointSp: 600px;

@mixin pc {
  @media (min-width: ($breakpointSp)) {
    @content;
  }
}


@mixin sp {
  @media (max-width: ($breakpointSp)) {
    @content;
  }
}

/*
uses
@include pc {
]
*/